.form {
	text-align: right;
}

.form button {
	font: inherit;
	cursor: pointer;
	background-color: #148feb;
	border: 1px solid #148feb;
	color: white;
	padding: 0.25rem 2rem;
	border-radius: 20px;
	font-weight: bold;
}

.form button:hover,
.form button:active {
	background-color: #0473c7;
	border-color: #0473c7;
}
